
/***************************************************************************************************
   wrapper
***************************************************************************************************/
.wrapper {
	margin-top: 50px;
}

.big-wrapper {
	overflow: visible;
}

.post-title {
  /*font-size: 1.8em;*/
    font-size: 33px;

 }

 .post-content {
 	font-size: 17px;
 }

body a,
.post-content a {
 	color: #242652;
}

/***************************************************************************************************
   templates
***************************************************************************************************/

.comments-width {
	width: 81.73%;
}

.page-parent {
	margin-bottom: 30px;
}

/***************************************************************************************************
   header
***************************************************************************************************/
/* fundo do header */
.section.bg-dark-light {
	background-color: #fff;
}

.header {
	padding: 70px 0px;
}

.header-inner.section-inner {
	margin: 0px auto;
	/*width: 100%;*/
	/*margin-left: -150px;*/
}

.header-inner .blog-logo {
	width: 442px;
	height: auto;
	margin-left: -300px;
	display: inline-block;
}

.header-inner .blog-search-topo { 
	padding: 0px;
	margin-top: 70px;
	width: 300px;
	display: inline-block;
	border: 1px solid #acacac;
	float: right;
	border-radius: 5px;
}
	
.header-inner .blog-search-topo .searchform { 
	position: relative; 
	overflow: hidden; 
}

.header-inner .blog-search-topo #s {
	width: 97.5%;
	padding: 18px 100px 18px 20px;
	background: #FFF;
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	color: #444;
	border: none;
	border-radius: 2px 0 0 2px;
	margin: 0;
}

.header-inner .blog-search-topo #s:focus { outline: none; }

.header-inner .blog-search-topo #searchsubmit {
	-webkit-appearance: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 85px;
	padding: 20px 0;
	border: none;
	margin: 0;
	background: #242652;
	border: 1px solid #242652;
	color: #FFF;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.8rem;
	font-family: 'Lato', sans-serif;
	border-radius: 0 4px 4px 0;
}

.header-inner .blog-search-topo #searchsubmit:hover { 
	cursor: pointer;
	background-color: #ff6607;
	border-color: #ff6607;
}

.section.bg-dark {
	background-color: #242652;
}

.blog-menu a {
	color: #fff;
}

.blog-menu li:hover a {
	background-color: #ff6607;
}

.blog-menu > li:before {
	content: "";
}

.blog-menu ul li {
	background-color: #242652;
}

.blog-menu .children li a,
.blog-menu ul.sub-menu li a {
	background-color: #242652;
	background-color: transparent !important;
}

.blog-menu ul li:hover {
	background-color: #ff6607;
}

/***************************************************************************************************
	post
***************************************************************************************************/
.post-header {
	margin-bottom: 2%;
}

.post-meta {
	margin-top: 30px; 
}


.enquetes .section-header {
	margin-bottom: 10px;
}

.enquetes .post {
  margin-bottom: 50px;
  padding-bottom: 20px;

}

.enquetes .section-description {
	margin-bottom: 40px;
}

.enquetes .page {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

/***************************************************************************************************
	section
***************************************************************************************************/

.section-header {
	
	border-bottom: 3px solid #EEE;
	margin-bottom: 30px;
}

.section-header .section-title {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 10px;
}

/***************************************************************************************************
	section-cycle section-cycle.slider section-body.slidesd
***************************************************************************************************/
.content .section-cycle {
    position: relative;
    padding: 0;
    z-index: 10;
    *height: 250px; /* hack ie7 */
    margin-bottom: 50px;
	padding-bottom: 4%;
	border-bottom: 4px solid #EEE;
	/*margin-bottom: 15%;*/
}


.content .section-cycle .section-body > .post {
    position: relative;
    max-width: 676px;
    width: 100%;
	padding-bottom: 0px;
	border: none;
	margin-bottom: 0px;
}

.content .section-cycle .post .thumb {
	width: 47.33%;
	display: inline-block;
}

.content .section-cycle .post img {
    width: 100%;
    border: 1px solid #DDD;
    max-width: 320px;
}

.content .section-cycle .post-head {
    display: block;
    width: 51.67%;                   
    float: right;
    padding: 10px;
}

.content .section-cycle .post-head h1 a {
    /*font-size: 1.3em;*/
    /*font-weight: normal;*/
    /*-webkit-font-smoothing: antialiased;*/
}

.content .section-cycle .post-head h2 a, 
.content .section-cycle .post-head h1 a { 
	color: #302F2F;
}

.content .section-cycle .post-head h2 a {
	line-height: 1.5;
}

.content .section-cycle .direction-nav {
	display: none;
}

.content .section-cycle .control-nav {
    position: absolute;
    bottom: 1%;
    left: 46%;
    list-style: none;
    margin-left: -30px;
}

/* new */
.content .section-cycle .control-nav li {
  margin: 0 2px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.content .section-cycle .control-paging li a {
  opacity: 0.5; 
  width: 13px;
  height: 13px;
  display: block;
  background: #aaa;
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.content .section-cycle .control-paging li a:hover {
  background: #242652;
  opacity: 0.8; 
}

.content .section-cycle .control-paging li a.active {
  cursor: default;
  position: relative;
  opacity: 0.5; 
  background: #242652;
}

/***************************************************************************************************
	PRIORIZE PAIRWISE
***************************************************************************************************/
.addtoany_list_container { 
	text-align:center; 
	position: absolute;
	bottom: -50px;
	left: 50%;
	margin-left: -100px;
	display: block !important;
}

/***************************************************************************************************
	INDEX ARCHIVE
***************************************************************************************************/

.posts .hentry {
	border-bottom: 2px solid #EEE;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

.featured-media {
	width: 50%;
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}

.wp-post-image {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
}


a.read-more {
	position: relative;
	padding-right: 16px;
}

a.read-more:after {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  right: 4px;
  width: 0;
  border-width: 8px 0px 10px 8px;
  border-style: solid;
  border-color: transparent inherit;
  opacity: 1;
}

a.read-more:before {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  right: 8px;
  width: 0px;
  border-width: 8px 0px 11px 8px;
  border-style: solid;
  border-color: transparent #FFFFFF;
  z-index: 1;
}
/***************************************************************************************************
	abas
***************************************************************************************************/
#menu-abas.itens {
 	clear: both;
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: table-row;
    /*padding-top: 20px;*/
    margin-bottom: 10px;
}

#menu-abas.itens li {
	float: left;
    list-style: none;
    font-size: 12px;
    text-transform: uppercase;
   /* max-width: 200px !important;*/
    /*display: table-cell;*/
    text-align: center;
    /*vertical-align: middle;*/
    /*background-color:  #242652;*/
	/*padding: 5px 15px;*/
	/*border-top: 5px solid red;*/
}

#menu-abas.itens li a {
    color: #fff;
	font-weight: bold;
	background-color:  #242652;
	min-height: 46px;
	max-width: 175px;
	padding-left: 5px;
	padding-right: 5px;
    display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	vertical-align: center;
	float: left;
}

#menu-abas.itens li a:hover {
	text-decoration: none;
}

#menu-abas.itens li a:hover {
    background-color: #ff6607;   
    text-decoration: none;
    -webkit-transform: translate(0px, -8px);
    -ms-transform: translate(0px, -8px);
    transform: translate(0px, -8px);
    -webkit-box-shadow: 0px 8px 0px 0px rgba(255,102,7,1);
	-moz-box-shadow: 0px 8px 0px 0px rgba(255,102,7,1);
	box-shadow: 0px 8px 0px 0px rgba(255,102,7,1);
	
}

#menu-abas.itens li.current a {
	background-color: #ff6607; 
}

#menu-abas.itens li.current a:hover {
    cursor: default;    
}


/***************************************************************************************************
   comments
***************************************************************************************************/

#commentform div p small {
	display: none;
}

/***************************************************************************************************
   widgets
***************************************************************************************************/

.widget_search #searchsubmit {
	background: #242652;
	border: 1px solid #242652;

}

.widget_search #searchsubmit:hover {
	background-color: #ff6607;
	border-color: #ff6607;
}

.widget_nav_menu .widget-content ul li {
	border-color: #fff;
	background-color: #242652;
}

.widget_nav_menu .widget-content ul li:hover {
	background-color: #ff6607;
}

.widget_nav_menu .widget-content ul li a {
	font-size: 17px;
	padding: 5px;
	padding-left: 5px;
	/*font-size: 1.075em;	*/
	color: #fff;
}
.widget_nav_menu .widget-content ul li a:hover {
	text-decoration: none;
}

.tagcloud a {
	background-color: transparent;
	color: #242652;
	padding: 0px;
	line-height: 1;
	margin: 0 5px 5px 0;
}

.tagcloud a:hover {
	background-color: #fff !important;
	color: #2d2d2d;
	 z-index: 1 !important;
    -webkit-transform:scale(1.5); /* Safari and Chrome */
    -moz-transform:scale(1.5); /* Firefox */
    -ms-transform:scale(1.5); /* IE 9 */
    -o-transform:scale(1.5); /* Opera */
     transform:scale(1.5);
}

/***************************************************************************************************
   barra-brasil ajustes
***************************************************************************************************/
#barra-brasil #menu-icon,
#barra-brasil .brasil-flag {
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
}

#barra-brasil li {
	line-height: 2.7;
	font-weight: bold;
}


/***************************************************************************************************
   footer-full
***************************************************************************************************/
.footer-full {
	margin-top: 50px;
	background-color: #f8f8f8;
	padding: 30px 0px;
	border: 1px solid #e2e2e2;
}

.footer-full ul li {
	display: inline;
}

/***************************************************************************************************
   footer
***************************************************************************************************/
.footer {
	margin-top: 0px;
}

.credits-inner {
	padding: 25px;
	color: #fff;
}

.credits-inner a {
	color: #fff;
	font-size: 12px;
}

.credits-inner .credits-title {
	color: #a8a8a8;
    font-size: 12px;
}

.credits-left {
	width: 50%;
}

.credits-left ul.menu {
	margin-top: 20px;
}

.credits-left ul.menu li {
	border: none;
	background: transparent;
	float: left; 
}

.credits-left ul.menu li:hover {
	text-decoration: underline;
	background-color: transparent;
}

.credits-left ul.menu li:before{
   	border: 1px solid #ECECEC;
    width: 0px;
    height: 5px;
    margin: 0px 5px;
    content: '';
}

.credits-left ul.menu li:first-child:before {
	border: none;
	margin: 0px;
}

.credits-left ul.menu li a {
	font-size: 15px;
}

.credits-right {
	width: 30%;
}

.credits-right img {
	display: block;
    max-width: 100%;
    height: auto;
}

.tothetop.fixed {
	position: fixed;
	bottom: 30px;
	right: 30px;
	width: 50px;
	height: 60px;
	border-radius: 15px;
	padding: 40px 10px 0px; 
	font-size: 12px;
	text-transform: none;
	background: #ff6607 url(../img/icons/up.png) no-repeat center 10px;
	opacity: 0.2;

  transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;

}

.tothetop.fixed:hover {
	color: #fff;
	opacity: 1;
}

.tothetop.fixed:before {
	content: "";
	display: block;
	position: absolute;
	top: -7px;
	left: 10px;
	width: 0;
	border-width: 0px 15px 8px 15px;
	border-style: solid;
	border-color: #ff6607 transparent;
}
/***************************************************************************************************
   responsivo
***************************************************************************************************/
@media (max-width: 1200px) {
	.header-inner .blog-logo {
		margin-left: -100px;
	}
	
}

@media (max-width: 800px) {

	.header-inner .blog-logo {
		margin-left: 0px;
		max-width: 300px;
	}

	.header-inner .blog-search-topo { 
		display: none;
	}

	.blog-search #searchsubmit {
		background: #242652;
		border: 1px solid #242652;
	}

	.blog-search #searchsubmit:hover {
		 background: #ff6607;
		border: 1px solid #ff6607;
	}

	#menu-abas.itens {
		padding-bottom: 30px;
	}

	#menu-abas.itens li {
		display: block;
	    text-align: left;
	    border-top-right-radius: 10px;
	    border-bottom-right-radius: 10px;
	    border-top-left-radius: 0px;
	    max-width: 500px !important;
	}

	#menu-abas.itens li a {
		font-size: 15px;
		padding: 15px 20px;
		display: table-cell;
	}

	#menu-abas.itens li:hover {
	    text-decoration: none;
	    transform: none;
		box-shadow: none;
	}


	.content .section-cycle .post .thumb {
		width: 100%;
		text-align: center;
	}


	.content .section-cycle .post-head {
		display: block;
		width: 100%;                   
		float: right;
		padding: 10px;
	}

	.content .section-cycle .post img {
		max-width: 600px;
		margin-bottom: 10px;
	}

	.sidebar {
	   display: block; 
	}
}


/* --------------------------------------------------------------

   forms.css
   * Sets up some default styling for forms
   * Gives you classes to enhance your forms

   Usage:
   * For text fields, use class .title or .text
   * For inline forms, use .inline (even when using columns)

-------------------------------------------------------------- */

/* 
	A special hack is included for IE8 since it does not apply padding 
	correctly on fieldsets
 */ 
label       { font-weight: bold; }
fieldset    { padding:0 1.4em 1.4em 1.4em; margin: 0 0 1.5em 0; border: 1px solid #ccc; }
legend      { font-weight: bold; font-size:1.2em; margin-top:-0.2em; margin-bottom:1em; }

fieldset, #IE8#HACK { padding-top:1.4em; } 
legend, #IE8#HACK { margin-top:0; margin-bottom:0; }

/* Form fields
-------------------------------------------------------------- */

/* 
  Attribute selectors are used to differentiate the different types 
  of input elements, but to support old browsers, you will have to 
  add classes for each one. ".title" simply creates a large text  
  field, this is purely for looks.
 */
input[type=text], input[type=password],
input.text, input.title,
textarea {
  background-color:#fff;
  border:1px solid #bbb;
}
input[type=text]:focus, input[type=password]:focus,
input.text:focus, input.title:focus,
textarea:focus {
  border-color:#666;
}
select { background-color:#fff; border-width:1px; border-style:solid; }

input[type=text], input[type=password],
input.text, input.title,
textarea, select {
  margin:0.5em 0;
}

input.text,
input.title   { width: 300px; padding:5px; }
input.title   { font-size:1.5em; }
textarea      { width: 390px; height: 250px; padding:5px; }

/* 
  This is to be used on forms where a variety of elements are 
  placed side-by-side. Use the p tag to denote a line. 
 */
form.inline { line-height:3; }
form.inline p { margin-bottom:0; }
form#register {
	width: 100%;
}




form#register label {
	text-align: left;
    display: inline-block;
    vertical-align: middle;
    /*width: 10em;*/
    /*margin: 0 1em 0 0;*/

        font-family: sans-serif;
    font-weight: 100;
    letter-spacing: 0.01em;

    color: #777;
    line-height: 1.6;
}

form#register .description {
	font-size: 13px;
	color: #777;
}


form#register input[type=text],
form#register input[type=password],
form#register input[type=email],
form#register input[type=url],
form#register input[type=date],
form#register input[type=month],
form#register input[type=time],
form#register input[type=datetime],
form#register input[type=datetime-local],
form#register input[type=week],
form#register input[type=number],
form#register input[type=search],
form#register input[type=tel],
form#register input[type=color],
form#register select,
form#register textarea {
	width: 100%;

	color: #777;

	font-family: sans-serif;
    font-weight: 100;
    font-size: 16px;
    letter-spacing: 0.01em;

	padding: .5em .6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

form#register input[type=text]:focus,
form#register input[type=password]:focus,
form#register input[type=email]:focus,
form#register input[type=url]:focus,
form#register input[type=date]:focus,
form#register input[type=month]:focus,
form#register input[type=time]:focus,
form#register input[type=datetime]:focus,
form#register input[type=datetime-local]:focus,
form#register input[type=week]:focus,
form#register input[type=number]:focus,
form#register input[type=search]:focus,
form#register input[type=tel]:focus,
form#register input[type=color]:focus,
form#register select:focus,
form#register textarea:focus {
	outline: 0;
    border-color: #129FEA;
}

input[type=submit] {

	transition: all 0.2s ease-in-out;

	display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;


	font-size: 100%;
    padding: .5em 1em;
    color: #444;
    color: rgba(0,0,0,.8);
    border: 1px solid #999;
    border: 0 rgba(0,0,0,0);
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;

	background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
	background-color: #0078e7;
    color: #fff;
}
form#register fieldset {
	margin: 10px 0px;
} 

form#register legend{
	font-size: 18px;
	font-weight: normal;
	color: #777;
}

form#register #user_login {
	text-transform: lowercase;
}

/* Success, info, notice and error/alert boxes
-------------------------------------------------------------- */

.error,
.alert, 
.notice,
.success, 
.info 			{ padding: 0.8em; margin-bottom: 1em; border: 2px solid #ddd; }

.error, .alert { background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
.notice     { background: #fff6bf; color: #514721; border-color: #ffd324; }
.success    { background: #e6efc2; color: #264409; border-color: #c6d880; }
.info 			{ background: #d5edf8; color: #205791; border-color: #92cae4; }
.error a, .alert a { color: #8a1f11; }
.notice a   { color: #514721; }
.success a  { color: #264409; }
.info a			{ color: #205791; }

